.album-form {
  box-sizing: border-box;
  width: 50%;
  border: 3px solid black;
  margin: 5% auto;
}

.album-form__element {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
  font-size: 14pt;
}

.album-form__element label {
  display: inline-block;
  font-family: Crimson Text;
  margin-left: 5px;
}

.album-form__element input,
select {
  width: 100%;
  margin-right: 5px;
  margin-left: 5px;
}

.album-button {
  width: 90px;
  font-size: 14pt;
  font-family: Crimson Text;
}

@media (max-width: 700px) {
  .album-form__element label {
    display: none;
  }

  .album-form__element {
    flex-direction: row;
  }
}

@media (min-width: 700px) {
  .album-form__element {
    flex-direction: row;
  }

  .album-form__element label {
    flex-basis: 8rem;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .album-button {
    margin-left: 8rem;
  }
}
