.album__songs-container {
  border: 3px solid;
  display: flex;
  flex-shrink: 1;
  width: 75%;
}

.album__image-container img {
  width: 100%;
  position: relative;
}

.songs__container {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  margin-left: 10px;
}

@media (max-width: 800px) {
  .album__songs-container {
    flex-direction: column;
  }
}
