.album__songs-container {
  border: 3px solid;
  display: flex;
  flex-shrink: 1;
  width: 75%;
}

.album__image-container img {
  width: 100%;
  position: relative;
}

.songs__container {
  margin-left: 10px;
  /* width: 40%; */
}

/* @media (max-width: 450px) {
  .album__image-container img {
    width: 450px;
    height: 450px;
  }
} */
