.navbar {
  background-color: rgb(100, 180, 205);
  height: 80px;
  display: flex;
}

.navbar__navlinks-container {
  display: flex;
  align-items: center;
  flex-shrink: 1;
}

.navlink {
  color: white;
  padding: 20px 20px;
  font-family: "Crimson Text", serif;
  font-weight: 500;
  font-size: 16pt;
}

.navbar img {
  width: 300px;
  align-self: center;
}
